* {
  border: none;
  border-radius: 0px;
  font-family: "FiraCode Nerd Font";
  font-weight: bold;
  font-size: 18px;
  min-height: 10px;
}

/* Default colours for if theme doesn't exist */
@define-color bar-bg rgba(0, 0, 0, 0);
@define-color main-bg #26233a;
@define-color main-fg #ebbcba;
@define-color wb-act-bg #31748f;
@define-color wb-act-fg #9ccfd8;
@define-color wb-hvr-bg #eb6f92;
@define-color wb-hvr-fg #f6c177;

/* Allows for external styling */
@import "./extra-style.css";

window#waybar.full {
  background: @bar-bg;
}

window#waybar.float {
  background-color: transparent;
}

tooltip {
  background: @main-bg;
  color: @main-fg;
  border-radius: 7px;
  border-width: 0px;
}

#workspaces button {
  box-shadow: none;
  text-shadow: none;
  padding: 0px;
  border-radius: 9px;
  padding-left: 6px;
  padding-right: 6px;
  margin-top: 6px;
  margin-bottom: 6px;
  color: @main-fg;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.active {
  color: @wb-act-fg;
  margin-left: 3px;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: 3px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button:hover {
  background: @wb-hvr-bg;
  color: @wb-hvr-fg;
  padding-left: 6px;
  padding-right: 6px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button {
  box-shadow: none;
  text-shadow: none;
  padding: 0px;
  border-radius: 9px;
  padding-left: 6px;
  padding-right: 6px;
  margin-top: 6px;
  margin-bottom: 6px;
  color: @wb-color;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button.active {
  background: @wb-act-bg;
  color: @wb-act-color;
  margin-left: 3px;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: 3px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button:hover {
  background: @wb-hvr-bg;
  color: @wb-hvr-color;
  padding-left: 6px;
  padding-right: 6px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#battery,
#bluetooth,
#clock,
#cpu,
#idle_inhibitor,
#language,
#memory,
#mpris,
#network,
#pulseaudio,
#wireplumber,
#custom-spotify,
#taskbar,
#tray,
#window,
#workspaces,
#custom-bar-switch,
#custom-power,
#custom-theme-switch,
#custom-wallpaper-switch,
#custom-l_end,
#custom-r_end,
#custom-sl_end,
#custom-sr_end,
#custom-rl_end,
#custom-rr_end {
  color: @main-fg;
  background: @main-bg;
  opacity: 1;
  margin: 8px 0px 8px 0px;
  padding-left: 8px;
  padding-right: 8px;
}

#workspaces,
#taskbar {
  padding: 0px;
}

#custom-r_end {
  border-radius: 0px 21px 21px 0px;
  margin-right: 9px;
  padding-right: 3px;
}

#custom-l_end {
  border-radius: 21px 0px 0px 21px;
  margin-left: 9px;
  padding-left: 3px;
}

#custom-sr_end {
  border-radius: 0px;
  margin-right: 9px;
  padding-right: 3px;
}

#custom-sl_end {
  border-radius: 0px;
  margin-left: 9px;
  padding-left: 3px;
}

#custom-rr_end {
  border-radius: 0px 7px 7px 0px;
  margin-right: 9px;
  padding-right: 3px;
}

#custom-rl_end {
  border-radius: 7px 0px 0px 7px;
  margin-left: 9px;
  padding-left: 3px;
}
