* {
  padding-left: 3px;
  padding-right: 3px;
}

button {
    border: none;
    border-radius: 0;

}

button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: inherit;
}

window#waybar {
  background: transparent;
  color: fg-primary;
}

tooltip {
  background: bg-primary;
  border-radius: 15px;
  border-width: 2px;
  border-style: solid;
  border-color: bg-secondary;
  font-size: 13pt;
}

tooltip label {
  padding: 7px;
}

#custom-home {
  color: fg-primary;
  background: bg-dark-primary;
  font-size: 40pt;
  padding-top: 20px;
  padding-bottom: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

#workspaces {
  background: bg-dark-primary;
  font-size: 15pt;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0px;
  border-width: 0px;
}

#workspaces button {
  color: fg-secondary;
  background: bg-dark-primary;
  padding-top: 5px;
  padding-bottom: 5px;
  border-width: 0px;
}

#workspaces button.active,
#workspaces button.focused {
  color: accent-primary;
}

#workspaces button.urgent {
  color: warning;
}

#custom-spotify {
  background: bg-dark-primary;
  color: green;
  padding-bottom: 20px;
  font-size: 20pt;
  border-radius: 0px;
}

#tray,
#network,
#pulseaudio.icon,
#pulseaudio.percentage,
#battery.icon,
#battery.percentage,
#custom-vpn,
#clock.calendar-icon,
#clock.day,
#clock.date,
#clock.time-icon,
#clock.time {
  background: bg-primary;
  border-radius: 0px;
}

#tray {
  padding-top: 20px;
  padding-bottom: 10px;
}

#network {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20pt;
  color: cyan;
}

#pulseaudio.icon {
  padding-top: 10px;
  font-size: 20pt;
  color: yellow;
}

#pulseaudio.icon.muted {
  color: red;
}

#pulseaudio.percentage {
  padding-top: 5px;
  padding-bottom: 10px;
  font-size: 13pt;
}

#pulseaudio.percentage.muted {
  color: red;
}

#battery.icon {
  padding-top: 10px;
  font-size: 20pt;
  color: green;
}

#battery.percentage {
  padding-top: 5px;
  padding-bottom: 10px;
  font-size: 13pt;
}

#custom-vpn {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20pt;
  color: bright-green;
}

#clock.calendar-icon {
  padding-top: 10px;
  font-size: 20pt;
  color: magenta;
}

#clock.day {
  padding-top: 5px;
  font-size: 13pt;
}

#clock.date {
  padding-top: 1px;
  font-size: 13pt;
  padding-bottom: 10px;
}

#clock.time-icon {
  padding-top: 10px;
  font-size: 20pt;
  color: accent-primary;
}

#clock.time {
  padding-top: 5px;
  padding-bottom: 20px;
  font-size: 13pt;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
