/***********/
/* General */
/***********/

* {
  /* `otf-font-awesome` is required to be installed for icons */
  color: fg-primary;
  font-family: Ubuntu, sans-serif;
  font-size: 18px;
  min-height: 0;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-radius: 0;
}

.modules-left,
.modules-center,
.modules-right {
  margin: 10px;
  margin-bottom: 2px;
  padding: 8px 16px;
  border-radius: 25px;
  background-color: bg-primary;
  color: fg-primary;
}

.widget {
  color: fg-primary;
  padding: 0px 8px;
}

#backlight,
#battery,
#clock,
#cpu,
#custom-media,
#disk,
#idle_inhibitor,
#memory,
#mode,
#mpd,
#network,
#pulseaudio,
#temperature,
#tray,
#workspaces,
#custom-browser,
#custom-discord,
#custom-filebrowser,
#custom-menu,
#custom-spotify-shortcut,
#custom-terminal {
  padding: 0px 15px;
}

#custom-spotify-monitor,
#custom-spotify-metadata,
#custom-spotify-prev,
#custom-spotify-play-pause,
#custom-spotify-next {
  padding: 0px 5px;
}

#custom-spotify-metadata {
  padding-left: 15px;
}

#custom-spotify-next {
  padding-right: 15px;
}

tooltip,
#tray menu {
  background: bg-secondary;
  border: 1px solid bg-bright-secondary;
}

tooltip label {
  color: fg-primary;
}

/***********/
/* Colours */
/***********/

#clock {
  color: fg-primary;
}

#pulseaudio {
  color: yellow;
}
#pulseaudio.muted {
  color: red;
}

#network {
  color: blue;
}

#cpu {
  color: magenta;
}

#custom-menu {
  color: cyan;
}

#custom-terminal {
  color: magenta;
}

#custom-filebrowser {
  color: yellow;
}

#custom-browser {
  color: red;
}

#custom-discord {
  color: blue;
}

#mpd,
#custom-spotify-shortcut,
#custom-spotify-monitor,
#custom-spotify-metadata,
#custom-spotify-prev,
#custom-spotify-play-pause,
#custom-spotify-next {
  color: green;
}
