* {
  border: none;
  border-radius: 0;
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: Ubuntu, sans-serif;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background-color: bg-primary;
  border-bottom: 3px solid bg-secondary;
  color: fg-primary;
  transition-property: background-color;
  transition-duration: .5s;
}

#mode {
  background-color: bg-secondary;
  border-bottom: 3px solid fg-secondary;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
  padding: 0 10px;
  margin: 0 4px;
  color: fg-primary;
}

#window,
#workspaces {
  margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock {
  background-color: bg-bright-secondary;
}

#battery {
  background-color: fg-primary;
}

#battery.charging, #battery.plugged {
  background-color: bg-primary;
  color: fg-primary;
}

@keyframes blink {
  to {
      background-color: fg-primary;
      color: bg-primary;
  }
}

#battery.critical:not(.charging) {
  background-color: bg-primary;
  color: fg-primary;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#cpu {
  background-color: blue;
  border-bottom: 3px solid bright-blue;
  color: bg-primary;
}

#memory {
  background-color: magenta;
  border-bottom: 3px solid bright-magenta;
  color: bg-primary;
}

#disk {
  background-color: #964B00;
}

#backlight {
  background-color: #90b1b1;
}

#network {
  background-color: magenta;
  border-bottom: 3px solid bright-magenta;
  color: bg-primary;
}

#network.disconnected {
  background-color: #BF616A;
  border-bottom: 3px solid #DF818A;
  color: bg-primary;
}

#pulseaudio {
  background-color: yellow;
  border-bottom: 3px solid bright-yellow;
  color: bg-primary;
}

#pulseaudio.muted {
  background-color: red;
  border-bottom: 3px solid bright-red;
  color: bg-primary;
}

#custom-media {
  background-color: #66cc99;
  min-width: 100px;
  color: #2a5c45;
}

#custom-media.custom-spotify {
  background-color: #66cc99;
}

#custom-media.custom-vlc {
  background-color: #ffa000;
}

#temperature {
  background-color: green;
  border-bottom: 3px solid bright-green;
  color: bg-primary;
}

#temperature.gpu {
  background-color: green;
  border-bottom: 3px solid bright-green;
  color: bg-primary;
}

#temperature.critical {
  background-color: red;
  border-bottom: 3px solid bright-red;
  color: bg-primary;
}

#mpd {
  background-color: bg-primary;
  border-bottom: 3px solid bg-bright-secondary;
  color: fg-primary;
}

#mpd.paused {
  background-color: red;
  border-bottom: 3px solid bright-red;
  color: #000000;
}

#mpd.disconnected,
#mpd.stopped {
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 3px solid rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0);
}
